<app-navbar></app-navbar>
<div class='content'>


<h1>Log In</h1>


	<div class='login'>
		<form class="example-form">

		  <mat-form-field>
		    <input matInput placeholder="Email" value="" autocomplete="nope">
		  </mat-form-field>
		  

		  <mat-form-field>
		     <input matInput type='password' placeholder="Password" value="" autocomplete="nope">
		  </mat-form-field>

				<button style='width:100%;margin-bottom: 5px;' mat-raised-button color="secondary" disabled>
					<i class='fa fa-envelope'></i>
					Login With Email
				</button><br>
				<div class="btn btn-facebook" style='width:100%' mat-raised-button color="primary" (click)="loginWithFacebook()">
					<i class='fa fa-facebook'></i>
					Login With Facebook
				</div>

		</form>

	</div>


</div>